.cogitator-body * {
    font-family: 'Inconsolata';
    font-size: 15px;
    margin: auto;
    color: antiquewhite;
}

#cogitator-expand + .cogitator {
    max-width: 0px;
    max-height: 0px;
    visibility: hidden;

    margin: auto;

    overflow: hidden;
    transition: all .3s ease;
}

#cogitator-expand:checked + .cogitator {
    max-width: 1000px;
    max-height: 400px;
    visibility: visible;

    background-color: rgb(70, 13, 13);

    border: ridge 2px rgb(117, 17, 17);

    padding: 10px;
    margin: auto;
    transition: all .3s ease;
}

#cogitator-expand {
    display: none;
}

#cogitator-expand-label {
    background-color: rgb(117, 17, 17);
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    display: block;
    text-align: center;
    max-width: 200px;
}



.submenu-expand {
    display: none;
}

.submenu-expand + fieldset {
    visibility: hidden;

    max-width: 250px;
    max-height: 0px;

    border: 0;
    padding: 0;
    margin: 0;


    overflow: hidden;
    transition: all .3s ease;
}

.submenu-expand:checked + fieldset {
    visibility: visible;

    max-width: 500px;
    max-height: 250px;

    border: 0;
    padding: 0;
    margin: 0;

    transition: all .3s ease;
}

.submenu-div {
    margin: 5px;
    padding: 3px;
}

.submenu-expand-label {
    border: none;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    cursor: pointer;
}

.cogitator ul {
    list-style: none;
    margin: 0px;
    margin-left: 10px;
    padding: 10px;
}

.cogitator section {
    display: block;
    float: left;
}

.cogitator li {
    padding: 3px;
}

.cogitator input[type=checkbox] {
    margin-right: 5px;
}


.cogitator input[type=search] {
    background-color: rgba(60, 60, 60);
    border: none;
    padding: 10px;
    width: 100%;
    float: left;
}

.cogitator span {
    display: block;
    overflow: hidden;
}

.cogitator input[type=submit], input[type=button] {
    display: block;
    background-color: rgb(117, 17, 17);
    border: none;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    float: right;
}

