input[type=search] {
    width: 100%;
    padding: 10px;

    background-color: rgba(60, 60, 60);

    font-family: 'Cinzel';
    text-align: center;

    color: var(--text-color-hover);

    border: none;
}

#mainSearch {
    margin-top: 40px;
    font-size: 40px;
}

#tagRefineSearch {
    margin-top: 20px;
    font-size: 20px;
}

.cogitator {
    font-family: 'Cinzel';
}

.cogitator a {
    text-decoration: none;
    color: inherit;
}
.cogitator a:hover {
    text-decoration: underline;
}
.cogitator a.active {
    text-decoration: none;
}

.refinementActive {
    font-weight: bold;
    color: var(--text-color-hover);
}

.refinementInactive {
    font-weight: normal;
    color: var(--text-color);
}

.cogitator ul {
    text-align: center;
    list-style: none;
}

.cogitator li {
    list-style: none;
    display: inline;
}

.cogitator li:after {
    content: " \00b7  ";
}

.cogitator li:last-child:after {
    content: " ... " ;
}
