@keyframes fade-in-anim {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
.quotation {
    /* display: block; */
    margin: auto;
    width: 800px;
    text-align: center;

	animation-name: fade-in-anim;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-fill-mode: backwards;

    color: antiquewhite;
    transition: color 0.5s ease;
}

.quotation:hover {
    color: rgb(179, 32, 32);
    transition: color 0.5s ease;
    /* display: inline-block; */

}

.quotation .three-dots {
    font-size: 100%;
    display: inline-block;
    vertical-align: middle;

}

.visible-text {
    vertical-align: middle;
    display : inline-block;

}

.quotation:hover .three-dots {
    font-size: 0;
}

.quotation .hidden-text {
    max-height: 0;
    font-size: 0;
    transition: max-height 0.1s; /* can't get transition to work on return.... */
    display: inline-block;
    overflow: hidden;
    vertical-align: middle; /* https://stackoverflow.com/questions/27679919/inline-block-displayed-div-are-not-on-the-same-level */

}

.quotation:hover .hidden-text {
    font-size: 100%;
    max-height: 100vw;
    transition: max-height 1.5s;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle; /* https://stackoverflow.com/questions/27679919/inline-block-displayed-div-are-not-on-the-same-level */
}

.quotation q {
    display: block;
    font-family: 'Cinzel';
    font-size: 30px;
    margin: 30px 20px 0px 20px;
}

.quotation cite {
    display:block;
    font-family: 'Cinzel', cursive;
    font-size: 15px;
    margin: 2px 20px;
    text-align: right;
}



/* .visible-text + {
    visibility: hidden;
    font-size: 0;
}

.visible-text:hover + {
    visibility: visible;
}

.hidden-text {
    content: " (...) ";
    /* max-width: 0px;
    max-height: 0px;
    font-size: 0;
}
*/


.quotation a {
    color: antiquewhite;
    text-decoration: none;
    transition: all 0.2s ease;
}
.quotation a:hover {
    color: rgb(179, 32, 32);
    transition: all 0.2s ease;
}
.quotation a.active {
    text-decoration: none;
}
