
.quotation-wrapper {
    transition: height 0.5s;
    overflow: hidden;
    padding: 20px;

    margin: auto;
    width: 800px;
    text-align: center;
}


@keyframes fade-in-anim {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
.quotation {
	animation-name: fade-in-anim;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-fill-mode: backwards;

    color: antiquewhite;
    transition: color 0.5s ease;
}

.quotation:hover {
    color: rgb(179, 32, 32);
    transition: color 0.5s ease;
}


.quotation q {
    display: block;
    font-family: 'Cinzel';
    font-size: 30px;
    padding: 10px;
}

.quotation cite {
    display:block;
    font-family: 'Cinzel', cursive;
    font-size: 15px;
    margin: 2px 20px;
    text-align: right;
}


.quotation a {
    color: antiquewhite;
    text-decoration: none;
    transition: all 0.2s ease;
}
.quotation a:hover {
    color: rgb(179, 32, 32);
    transition: all 0.2s ease;
}
.quotation a.active {
    text-decoration: none;
}
